body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

h2 {
    margin-top: 20px;
    color: #333;
}

p {
    font-weight: bold;
}

/* Bouton Retour Menu */
#retourMenu {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #d35400;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1em;
    transition: background 0.3s ease;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#retourMenu:hover {
    background-color: #a84300;
}
/* Styles pour le fond vidéo */
.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Assure que la vidéo couvre tout l'écran */
    z-index: -1; /* La vidéo se place derrière tout le contenu */
}